! ------------------------------------------------------------------------------
! URxvt standard arcolinux theme - Reload with xrdb -merge ~/.Xresources
! ------------------------------------------------------------------------------

! appearance
URxvt*depth:             32
URxvt*transparent:      false 
URxvt*shading:          30
URxvt*background:       [90]#000000


! colors
!! Colorscheme

! special
*.foreground: #cfb79f
*.background: #141c21
*.cursorColor: #fdf6e3

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3


! fonts
URxvt*letterSpace: 	    		0
URxvt*.font: xft:Hack Nerd Font:style=Regular:size=16
URxvt*.boldFont: xft:Hack Nerd Font:style=Bold:size=16
URxvt*.italicFont: xft:Hack Nerd Font:style=Italic:size=16
URxvt*.boldItalicFont: xft:Hack Nerd Font:style=Bold Italic:size=16
! run :.!fc-list | grep <font-name>

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font
!URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.M-c:       perl:clipboard:copy
URxvt*keysym.m-v:       perl:clipboard:paste
URxvt*keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      brave
URxvt*underlineURLs:    true
URxvt*urlButton:        1
URxvt*geometry: 		90x30

! tabbed
URxvt*tabbed.tabbar-fg: 4
URxvt*tabbed.tabbar-bg: 16
URxvt*tabbed.tab-fg:    15
URxvt*tabbed.tab-bg:    4
URxvt*buffered:         false
URxvt*keysym.Control-Shift-C: perl:clipboard:copy
URxvt*keysym.Control-Shift-V: perl:clipboard:paste




